rofi.hide-scrollbar: true
rofi.lines: 8
rofi.location: 7
rofi.width: 100
rofi.font: mono %(14 * font-scale)
rofi.show-match: false
!rofi.fixed-num-lines: false

rofi.kb-row-tab: 
rofi.kb-row-select: Tab

rofi.matching: start

! Theme

! State:           'bg',     'fg',     'bgalt',  'hlbg',   'hlfg'
rofi.color-normal: #ffffff,  #000000,  #ffffff,  #000000,  #ffffff
rofi.color-active: #dddddd,  #000000,  #00ff00,  #000000,  #ffffff
rofi.color-urgent: #cc241d,  #fdf4c1,  #cc241d,  #fb4934,  #fdf4c1

!                  'background', 'border', 'separator'
rofi.color-window: #ffffff,      #000000,  #000000
