/* 1. Remove `last post by ...' in topic overview */
.first-unread {
	font-size: .9em;
}

/* 2. Add borders around posts */
.post .corners-top,
.post .corners-bottom {
	/*display: none !important;*/
	height: 1px !important; /* We want 0px, but this does strange things. This is close enough */
}

.post {
	border: 1px solid #666 !important;
	border-radius: 2px !important;
}

/* 3. Swap location of post body & profile */
.post {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.postbody {
	float: right !important;
	width: 82% !important;
	border-left: 1px solid #666 !important;
	padding-left: 10px !important;
	padding-right: 10px !important;
}
.postbody .content {
	min-height: 150px !important;
}

.postprofile {
	float: left !important;
	border-left: none !important;
	width: 15% !important;
	border-right: none;
}

/* 4. Just use a white background for posts */
.post.bg1, .post.bg2 {
	background-color: #f5f5ff !important;
}
.postbody {
	background-color: #fff !important;
	padding-bottom: 3px !important;
}
body {
	background-color: #eee !important;
}
.back2top {
	display: none;
}

/* 4.1 Some header improvements */
.navbar .corners-top, .navbar .corners-bottom {
	display: none !important;
	height: 0px !important;
}
.navbar {
	border: 1px solid #666666 !important;
	border-radius: 2px !important;
	background-color: #fff !important;
}

.navbar .rightside {
	display: none !important;
}

.navbar .leftside {
	float: none !important;
}

/* Time & last visit are useful, but should be at the bottom, not cluttering the
 * header */
#wrap #page-body > p:nth-child(1),
#wrap #page-body > p:nth-child(2) {
	display: none !important;
}

/* 5. Code blocks */
code {
	color: #000 !important;
	background-color: #e1e4f2;
	font-size: 1em !important;
}
.codebox dt {
	text-align: right !important;
}

/* 6. Increasing ridiculously small size of pagination */
.pagination span a, .pagination span strong {
	font-size: 1em !important;
	padding: 3px 5px !important;
}

/* 7. Increase size of username in posts */
.postprofile dt a {
	font-size: 1.5em !important;
}

/* 8. Set max width of the entire site */
#wrap {
	max-width: 90em !important;
	margin: 0 auto !important;
}

/* 10. Always show quick reply */
#qr_editor_div {
	display: block !important;
}

#qr_showeditor_div {
	display: none !important;
}

