/* marktplaats.nl */
#unsupported-browser-warning { display: none; }

/* deviantart.com */
#update-browser-banner { display: none; }

/* fastmail.fm */
.ButtonView.iconOnly > .label { z-index: -1; }

/* Topspace */
/*
#sidebar a {
	color: #fff !important;
}*/

/* Facebook */

/* "people you may know" */
.home_right_column,

/* "timeline" + "update status" */
.newsFeedComposer
{ display: none; }
